<p id="notice"><%= notice %></p>

<h1 class="text-center">Exercícios</h1>

<div class="container text-center">
  <table class="table text-center">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Grupo muscular</th>
        <th>Descrição</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @exercicios.each do |exercicio| %>
        <tr>
          <td><%= exercicio.nome %></td>
          <td><%= exercicio.grupo_muscular %></td>
          <td><%= exercicio.descricao %></td>
          <td><%= link_to 'Exibir', exercicio, class: 'btn btn-outline-info' %></td>
          <td><%= link_to 'Editar', edit_exercicio_path(exercicio), class: 'btn btn-outline-info', id:"e-#{exercicio.nome}"%></td>
          <td><%= link_to 'Deletar', exercicio, class: 'btn btn-outline-danger', id:"d-#{exercicio.nome}", method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<div class="text-center">
  <p>
    <%= link_to 'Novo Exercicio', new_exercicio_path %> |
    <%= link_to 'Voltar', usuario_path(current_user.id)%>
  </p>
</div>
