<p id="notice"><%= notice %></p>

<h1 class="text-center">Treino Exercicios</h1>
<div class="container text-center">
  <table class="table-text-center">
    <thead>
      <tr>
        <th>Serie</th>
        <th>Repeticoes</th>
        <th>Id aluno</th>
        <th>Exercicio</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @treino_exercicio.each do |treino_exercicio| %>
        <tr>
          <td><%= treino_exercicio.serie %></td>
          <td><%= treino_exercicio.repeticoes %></td>
          <td><%= treino_exercicio.treino.aluno_id %></td>
          <td><%= treino_exercicio.exercicio.nome %></td>
          <td><%= link_to 'Exibir', treino_exercicio %></td>
          <td><%= link_to 'Excluir', treino_exercicio, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>

<div class="text-center">
  <p>
    <%= link_to 'Novo Treino Exercicios', new_treino_exercicio_path %>
    <%= link_to 'Voltar', usuario_path(current_user.id)%>
  </p>
</div>
