<p id="notice"><%= notice %></p>

<p>
  <strong>Serie:</strong>
  <%= @treino_exercicio.serie %>
</p>

<p>
  <strong>Repetições:</strong>
  <%= @treino_exercicio.repeticoes %>
</p>

<p>
  <strong>Id Aluno:</strong>
  <%= @treino_exercicio.treino.aluno_id %>
</p>

<p>
  <strong>Id Exercício:</strong>
  <%= @treino_exercicio.exercicio.nome %>
</p>

<%= link_to 'Voltar', treinos_path, :class => "btn btn-info btn-sm" %> |
