<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo treino:</strong>
  <%= @treino.tipo_treino %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @treino.descricao %>
</p>

<p>
  <strong>Data inicio:</strong>
  <%= @treino.data_inicio %>
</p>

<p>
  <strong>Data final:</strong>
  <%= @treino.data_final %>
</p>

<p>
  <strong>Quantidade dias:</strong>
  <%= @treino.quantidade_dias %>
</p>

<p>
  <strong>Aluno:</strong>
  <%= Usuario.find(@treino.aluno_id).nome %>
</p>

<p>
  <strong>Professor:</strong>
  <%= Usuario.find(@treino.professor_id).nome %>
</p>

<%= link_to 'Adicionar exercicio ao treino', new_treino_exercicio_path %> |
<%= link_to 'Edit', edit_treino_path(@treino) %> |
<%= link_to 'Back', treinos_path %>
