<p id="notice"><%= notice %></p>

<h1>Anamneses</h1><br>

<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <table class="table">
        <thead>
          <tr>
            <th>Nome do aluno</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @anamneses.each do |anamnese| %>
          <tr>
            <% aluno = Usuario.find(anamnese.usuario_id) %>
            <td><%= aluno.nome %></td>
            <td><%= link_to 'Exibir', anamnese, class: 'btn btn-outline-info' %></td>
            <td><%= link_to 'Editar', edit_anamnese_path(anamnese), class: 'btn btn-outline-info', id:"e-#{aluno.nome}" %></td>
            <td><%= link_to 'Excluir', anamnese, method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-outline-danger', id:"d-#{aluno.nome}"  %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <br>
    </div>
    <div class="col-2"></div>
  </div>
</div>


<%= link_to 'Nova Anamnese', new_anamnese_path, class: 'btn btn-info' %>
