<p id="notice"><%= notice %></p>

<p>
  <strong>Atividade trabalho:</strong>
  <%= @anamnese.atividade_trabalho %>
</p>

<p>
  <strong>Desc atividade trabalho:</strong>
  <%= @anamnese.desc_atividade_trabalho %>
</p>

<p>
  <strong>Data exame clinico:</strong>
  <%= @anamnese.data_exame_clinico %>
</p>

<p>
  <strong>Descricao exame clinico:</strong>
  <%= @anamnese.descricao_exame_clinico %>
</p>

<p>
  <strong>Cardiopatia:</strong>
  <%= @anamnese.cardiopatia %>
</p>

<p>
  <strong>Cirurgia:</strong>
  <%= @anamnese.cirurgia %>
</p>

<p>
  <strong>Descricao cirurgia:</strong>
  <%= @anamnese.descricao_cirurgia %>
</p>

<p>
  <strong>Problema saude:</strong>
  <%= @anamnese.problema_saude %>
</p>

<p>
  <strong>Dor corporal:</strong>
  <%= @anamnese.dor_corporal %>
</p>

<p>
  <strong>Desc dor corporal:</strong>
  <%= @anamnese.desc_dor_corporal %>
</p>

<p>
  <strong>Lesao:</strong>
  <%= @anamnese.lesao %>
</p>

<p>
  <strong>Desc lesao:</strong>
  <%= @anamnese.desc_lesao %>
</p>

<p>
  <strong>Alergia:</strong>
  <%= @anamnese.alergia %>
</p>

<p>
  <strong>Desc alergia:</strong>
  <%= @anamnese.desc_alergia %>
</p>

<p>
  <strong>Fumante:</strong>
  <%= @anamnese.fumante %>
</p>

<p>
  <strong>Alcolotra:</strong>
  <%= @anamnese.alcolotra %>
</p>

<p>
  <strong>Atividade fisica:</strong>
  <%= @anamnese.atividade_fisica %>
</p>

<p>
  <strong>Desc atividade fisica:</strong>
  <%= @anamnese.desc_atividade_fisica %>
</p>

<p>
  <strong>Objetivo:</strong>
  <%= @anamnese.objetivo %>
</p>

<%= link_to 'Edit', edit_anamnese_path(@anamnese) %> |
<%= link_to 'Back', anamneses_path %>
