<h1>Editando Usuário</h1> <br>

<%= form_with(model: @usuario, local: true) do |form| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
        <% @usuario.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong> <%= form.label :nome %> </strong>
    <%= form.text_field :nome %>
  </div> <br>

  <div class="field">
    <strong> <%= form.label :email %> </strong>
    <%= form.text_field :email %>
  </div> <br>

  <div class="field">
    <strong> <%= form.label :telefone %> </strong>
    <%= form.text_field :telefone %>
  </div> <br>

  <div class="field">
    <strong> <%= form.label :data_nascimento %> </strong>
    <%= form.date_field :data_nascimento %>
  </div> <br>

  <div class="field">
    <strong> <%= form.label :senha %> </strong>
    <%= form.password_field :password %>
  </div> <br>

  <div class="field">
    <strong> <%= form.label :confirme_a_senha %> </strong>
    <%= form.password_field :password_confirmation %>
  </div> <br>

  <div class="field">
    <strong> <%= form.label :tipo %> </strong>
    <%= form.select :tipo, options_for_select([:aluno, :professor, :admin])%>
  </div> <br>

  <div class="actions">
    <%= form.submit nil, :class => "btn btn-info" %>
  </div> <br>
<% end %>

<%= link_to 'Voltar', @usuario %>
